@font-face {
    font-family: 'Bebas Neue';
    src: url('./BebasNeue-Regular.ttf');
}
body{
    background: url('./4gqRdbk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: 'Bebas Neue';
}

.fluid-container{
    width: 100vw;
    display: flex;
    flex: auto;
}

.hidden{
    visibility: hidden;
    display: none;
}

@media (min-width:610px) {
    .loginpanel{
        width: 500px;
        margin-top: 100px !important;
}    
}


.loginpanel{
    margin: auto;
    margin-top: 50px;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    color: black;
    padding: 10px 20px 25px 20px;
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-bottom: 50px;

}

.logintitle{
    text-align: center;
    margin: 40px auto;
    font-family: 'Bebas Neue';
}

.loginform{
   /* display: flex;
    flex: auto;
    margin: auto;*/
}
.label{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}
input{
    background-color: #e8e4e4;
    min-height: 20px;
    border-radius: 3px;
    border-color: transparent;
    min-height: 40px;
    display: block;
    margin: 5px 0px 15px 0px;
    font-size: 1.2rem;
    padding: 3px 10px;
}
.loginbutton{
    background-color: #c84c8c;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 1.3rem;
    padding: 10px;
    width: 100%;
}
[role="button"]:hover,button:hover{
    filter: opacity(0.8);
}

input[type="checkbox"]{
    display: inline-block;
    margin: 0px !important;
    width: auto !important;
}
.checkboxcontainer{
    display: flex;
    align-items: center;
}

.signupsection{
    margin: auto;
}

.forminput{
    width: 100%;
}

.margin-top5{
    margin-top: 20px;
}

input:focus{
    border-color: white !important  ;
}

input[role="button"]{
    cursor: pointer;
}

.panel{
    border-radius: 7px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    color: black;
    padding: 0px;
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-bottom: 50px;
}

th{
    font-weight: lighter;
    padding: 10px 15px;
    text-align: left;
    color:white;
}

td{
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: bolder;
}
tr{
    border-collapse: separate;
}
tr:nth-child(even) {background: #e8e4e4;color: #c84c8c;}
tr:nth-child(odd) {background: white}

table{
    border-collapse: collapse;
    border-radius: 7px;
    overflow: hidden;
}
tbody{
    border-collapse: collapse;
    border-radius: 7px;

}

.align-center{
    text-align: center !important;
}

.imgfitstable{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.zoom-on-hover:hover .imgfitstable{
    transition:ease-in-out;
    transition-duration: 0.5s;
    width: 140px;
    height: 140px;
}
.zoom-on-hover .imgfitstable{
    transition:ease-in-out;
    transition-duration: 0.5s;
}
.imageelementcontainer{
    width: 130px;
    height: 130px;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

a{
    color: #c84c8c;
}


